<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Airport Management App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <!-- Proje Adı -->
    <div class="row mt-5">
        <div class="col text-center">
            <h1>Airport Management App</h1>
        </div>
    </div>

    <!-- Card Yapıları -->
    <div class="row mt-5">
        <!-- Bilet Al Card -->
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title">Bilet Al</h5>
                    <p class="card-text">Uçak bileti almak için buraya tıklayın.</p>
                    <a th:href="@{/selectroutes}" class="btn btn-primary mt-auto">Bilet Al</a>
                </div>
            </div>
        </div>

        <!-- Bilet Kontrol Et Card -->
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title">Bilet Kontrol Et</h5>
                    <p class="card-text">PNR numaranızla bilet bilgilerinizi kontrol etmek için aşağıya girin:</p>

                    <!-- Thymeleaf form -->
                    <form th:action="@{/searchPnr}" method="get" class="mt-auto">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="PNR Numaranızı Girin" id="pnrInput" name="pnr_code" required>
                        </div>
                        <button type="submit" class="btn btn-secondary mt-3 w-100">Bilet Kontrol Et</button>
                    </form>
                    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
                </div>
            </div>
        </div>

        <!-- Kullanıcıları Yönet Card -->
        <div class="col-md-4" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title">Kullanıcıları Yönet</h5>
                    <p class="card-text">Kullanıcı hesaplarını yönetmek için buraya tıklayın.</p>
                    <a th:href="@{/manageUsers}" class="btn btn-info mt-auto">Kullanıcıları Yönet</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
